.vh-div {
  margin-top: 10vh;
}

.form-container {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.banner {
  font-family: 'Franklin Gothic Medium';
  background: opacity($color: #00000062);
  background-image: url(../../images/cloud.jpg);
  background-position: center;
  background-size: cover;
  width: 100;
  height: auto;
  padding: 4rem;
  margin-bottom: 2rem;
  // margin: 3vh 4vw; //y x
  // position: relative;

  .text {
    margin: 2rem;
  }
}

.content {
  h3 {
    color: white;
  }
  // border-radius: 8px;
  // margin: 3vh 8vw 3vh; //top right bottom left; top right&left bottom
}
