.vh-div {
  margin-top: 10vh;
}

.form-container {
  background-color: $color-primary;
  min-height: 100vh;
}

.banner {
  font-family: 'Franklin Gothic Medium';
  padding: 1rem;
  // margin: 3vh 4vw; //y x
  // position: relative;
}

.content {
  padding: 1rem ;

  h3 {
    color: white;
  }
  // border-radius: 8px;
  // margin: 3vh 8vw 3vh; //top right bottom left; top right&left bottom
}
