@import "./component_index.scss";

.navbar {
  display: flex;
  background-color: $color-primary;
  align-items: center;
  height: 10vh;
}

.navbar-item {
  transition: 300ms;
  border-radius: 4px;
  
  &:hover {
    background-color: black;
    transition: 300ms;

  }
}

.navbar-dropdown {
  transition: 300ms;
}

.navbar-menu {
  padding: 8px;
  border-radius: 4px;
}

.navbar-start {
  display: flex;
}

nav {
  img {
    width: 50px;
    margin: 0px 20px;
  }
}
