@import "./component_index.scss";

.navbar {
  display: flex;
  background-color: $color-primary;
  align-items: center;
  height: 10vh;
}

.navbar-link {
  transition: 300ms;
}

.navbar-dropdown {
  transition: 300ms;
}

nav {
  img {
    width: 50px;
    margin: 0px 20px;
  }
}
