.date-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .input {
    max-width: 5rem;
    min-width: 4rem;
    margin: .5rem .5rem .5rem 0;

  }

  .date-outcome {
    transition: 300ms;
  }
}
