.carousel {
  text-align: center;
}

/* gives us the illusion of a "centered" slide */
.carousel__slider {
  padding-left: 32%;
  padding-right: 32%;
  margin-bottom: -15%; 
}

/* gives us the illusion of spaces between the slides */
.carousel__inner-slide {
  background: $color-dark;
  
  img {

    border-left: 1rem 0 transparent;
    position: cover;
  }
}
