.navbar {
  display: flex;
  align-items: center;
  height: 10vh;
  background: linear-gradient($color-dark, rgba(0,0,0,0));
}

a.navbar-item {
  transition: 300ms;
  border-radius: 4px;
  color: $color-light;
  
  &:hover {
    background: rgba(0,0,0,0);
    transition: 300ms;
    color: $color-contrast;
  }  
}

.navbar-dropdown {
  transition: 300ms;
}

.navbar-menu {
  padding: 8px;
  border-radius: 4px;
  // background: linear-gradient($color-secondary, $color-primary );
  max-width: min-content;

}

.is-active {
  background: rgba(0,0,0,0);
  color: $color-contrast;
}

.navbar-start {
  // background: $color-dark ;
  display: flex;
}

nav {
  img {
    width: 50px;
    margin: 0px 20px;
  }
}
