.home {

  a {
    margin-left: 3rem;
  }
  
  .home-left-bottom-box {
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    max-width: 50rem;
    color: $color-grey;
    transition: 500ms;

    &:hover {
      transition: 500ms;
      color: $color-contrast;
    }
  }
  
  .coding {
    background: url('../../images/Geza_Steinert_2021_3.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  
  .acting {
    background: url('../../images/Geza_Steinert_2021_1_bw.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
}
