.home {
  overflow: hidden;

  a {
    margin-left: 3rem;
  }
  
  
  .left-bottom-box {
    margin: 1rem;
    transition: 500ms;
    color: $color-grey;
    max-width: 38rem;
    border-radius: 8rem;

    &:hover {
      transition: 500ms;
      color: $color-contrast;
      font-size: large;
      opacity: 1;
    }

    // transition: background-color 1s linear 2s, color 1s;
    // transition: property name | duration | timing function | delay

    @media screen and (min-width: 40rem) {
      opacity: .5;
      position: absolute;
      bottom: 1.5rem;
      left: 1.5rem;
    }
  }
  
  .coding {
    background: url('../../images/Geza_Steinert_2021_3.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  
  .acting {
    background: url('../../images/Geza_Steinert_2021_1_bw.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
}
