@import "~bulma/bulma";

$color-primary: #282c34;
$color-secondary: #808ba1;
$color-contrast: #f8f8f8;

$fontsize-h1: calc(20px + 5vw) ;
$fontsize-h2: 2rem ;
$fontsize-h3: 1.5rem ;
$fontsize-p: 1rem ;

h1 {
  font-size: $fontsize-h1;
}

h2 {
  font-size: $fontsize-h2;
}

h3 {
  font-size: $fontsize-h3;
}

p {
  font-size: $fontsize-p;
}

.App {
  text-align: left;
}

.form-container {
  background-color: $color-secondary;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-contrast;
}

.banner {
  font-family: 'Franklin Gothic Medium';
  margin: auto;
}

.content {
  display: flex;
  justify-content: center;
}

.App-link {
  color: #b3e7f5;
  text-decoration: none;
  transition: 0.5s;
  
  &:hover {
    color: #234047;
    transition: 0.5s;
  }
}


// LOGO 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    animation-delay: 5s;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
